.nav-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
}

.nav-logo {
    width: 60%;
    align-self: flex-start;

}

.nav-items {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
    margin-left: 20px;
}

.nav-item {
    margin-left: 20px;
}

h2 {
    font-size: 1.8rem;
    color: rgb(77, 77, 77) !important;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    color: grey;
    font-weight: 400;
}

a:link {
    color: grey;
}
  
  /* visited link */
a:visited {
    color: grey;
}
  
  /* mouse over link */
a:hover {
    color: rgb(77, 77, 77);
}
  
  /* selected link */
a:active {
    color: gray;
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 2rem;
        color: rgb(77, 77, 77) !important;
        font-weight: 600;
    }
    
    h3 {
        font-size: 2rem;
        color: grey;
        font-weight: 400;
    }

    .nav-logo {
        width: 70%;    
    }
    
    .nav-items {
        width: 30%;
    }

    .nav-item {
        margin-left: 80px;
    }
}

.about-me {
    color:rgb(77, 77, 77);
}

.about-me h3,h4{
    color:rgb(36, 36, 36);
}

.about-me h3{
    font-size: 1.8rem;
}
.about-me h4{
    font-size: 1.5rem;
}
.about-me p{
    font-size: 1.2rem;
}

strong {
    color: red;
}